.users-container {  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto; 
  padding: 2rem;
}

.users-container h2 {
    text-align: start;
}

.users-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-align: left;
}

.users-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}


.logout-btn:hover {
  background-color: #c0392b;
}
